.DS_Store
/.gradle/
/build/
bin/
build/
.settings
eclipse/
.classpath
.project
build.number
.gradle
/run/config/fabric/indigo-renderer.properties
/run/config/eat_with_ease.json
/run/config/modmenu.json
/run/data/fabricDefaultResourcePacks.dat
/run/downloads/log.json
/run/logs/debug.log
/run/logs/latest.log
/run/options.txt
/.idea/modules/Eater.client.iml
/.idea/modules/Eater.main.iml
/.idea/modules/Eater.test.iml
/.idea/runConfigurations/Minecraft_Client.xml
/.idea/runConfigurations/Minecraft_Server.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
